/*设置rem初始的单位为10px,设计稿宽度375px*/
/*数字键盘的高度*/
/*各行元素之间的间距*/
/*设置手机端网页不出现滚动条*/
@import '../../commonCss/mixin-style';

@include common-style;
//设置网页不可滚动
.disable-scroll {
    overflow: hidden;
    height: 100%;
    background-color: $background-color;
}

.cover {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    .loading-icon {
        width: pxTorem(40px);
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .content {
        @include center-block;
        margin-top: pxTorem(160px);
        width: pxTorem(120px);
        height: pxTorem(120px);
        background: url("../../images/waiting.jpg") no-repeat center center;
        background-size: 40%;
    }
}

.main {
    padding-top: 1px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    .content {
        width: 100%;
        position: absolute;
        padding-top: 1px;
        @include center-block;
        text-align: center;
        .shop-logo-default {
            @include center-block;
            margin-top: pxTorem(30px);
            width: pxTorem(80px);
            height: pxTorem(80px);
            border-radius: 50%;
            background: $main-color url("../../images/shop.png") no-repeat center center;
            background-size: 60%;
        }
        .shop-logo-user {
            border-radius: 50%;
            margin-top: pxTorem(30px);
            width: pxTorem(80px);
            height: pxTorem(80px);
        }
        .shop-name {
            margin-top: pxTorem(10px);
            font-size: pxTorem(16px);
            color: $deepDarkColor;
            display: block;
        }
        .input-content {
            width: 100%;
            margin-top: pxTorem(20px);
            // height: 12rem;
            padding-top: pxTorem(10px);
            padding-bottom: pxTorem(10px);
            background-color: #ffffff;
            text-align: left;
            .tag {
                margin-top: pxTorem(15px);
                margin-left: pxTorem(15px);
                font-size: pxTorem(12px);
                color: $grayColor;
                display: inline-block;
            }
            .input-body {
                text-align: left;
                clear: both;
                margin-top: pxTorem(5px);
                margin-left: pxTorem(15px);
                margin-right: 0;
                font-size: pxTorem(40px);
                border-bottom: $splitLineColor 1px solid;
                @include Height(50px);
                .money-input {
                    position: relative;
                    margin-top: pxTorem(5px);
                    @include Height(30px);
                    font-size: pxTorem(30px);
                    display: inline-block;
                    width: 75%;
                    background-color: transparent;
                    .cursor {
                        display: none;
                        -webkit-animation: frash 1s infinite ease-in-out;
                        width: pxTorem(2px);
                        background-color: black;
                        height: 100%;
                        float: left;
                    }
                    .amount-input {
                        float: left;
                    }
                    .placeholder {
                        position: absolute;
                        color: $placeHolderColor;
                    }
                    &:focus {
                        .cursor {
                            display: inline-block;
                        }
                    }
                }
                img {
                    display: none;
                    vertical-align: middle;
                    width: 5%;
                    margin-right: 5px;
                }
            }
            .remark-input {
                user-select: text;
                -webkit-user-select: text;
                -moz-user-select: text;
                -ms-user-select: text;
                margin-left: pxTorem(15px);
                margin-top: pxTorem(10px);
                font-size: pxTorem(14px);
                width: 80%;
                @include Height(44px);
            }
        }
        .pay-btn {
            margin-top: pxTorem(30px);
            width: 90%;
            @include Height(55px);
            background-color: #dddddd;
            font-size: pxTorem(16px);
            color: #bbbbbb;
            display: inline-block;
            border-radius: pxTorem(4px);
        }
        .pay-btn.active {
            background-color: $main-color;
            color: #ffffff;
        }
        .foot-tip {
            text-align: right;
            color: #666666;
            font-size: pxTorem(12px);
            margin-top: pxTorem(30px);
            width: 90%;
        }
    }
    .number-keyboard {
        overflow: hidden;
        width: 100%;
        position: absolute;
        bottom: pxTorem(-200px);
        background-color: #ffffff;
        .small-btn-container {
            width: 75%;
            float: left;
            .small-btn {
                @include Height(50px);
                width: 33.333333333%;
                float: left;
                font-size: pxTorem(24px);
                box-sizing: border-box;
                -moz-box-sizing: border-box; /* Firefox */
                -webkit-box-sizing: border-box; /* Safari */
                border-top: 1px solid $splitLineColor;
                border-left: 1px solid $splitLineColor;
            }
            .keyboard-btn {
                background: url("../../images/keyboard.png") no-repeat center center;
                background-size: 28%;
            }
        }
        .big-btn-container {
            width: 25%;
            float: left;
            .big-btn {
                width: 100%;
                @include Height(100px);
                font-size: pxTorem(18px);
                text-align: center;
                box-sizing: border-box;
                -moz-box-sizing: border-box; /* Firefox */
                -webkit-box-sizing: border-box; /* Safari */
                border-top: 1px solid #cccccc;
                border-left: 1px solid #cccccc;
            }
            .back {
                background: url("../../images/back-icon.png") no-repeat center center;
                background-size: 28%;
            }
            .confirm {
                background-color: $main-color;
                color: #ffffff;
            }
            .confirm.disabled {
                opacity: 0.8;
            }
        }
    }
}

@-webkit-keyframes frash { /*透明度由0到1*/
    0% {
        opacity: 0; /*透明度为0*/
    }
    100% {
        opacity: 1; /*透明度为1*/
    }
}

