$splitLineColor: #dddddd; //分割线颜色
$grayColor: #666666; //深灰色
$lightGrayColor: #999999; //浅灰色
$deepDarkColor: #333333; //深黑色
$browser-default-font-size: 37.5px; //浏览器默认的字体大小
$placeHolderColor: #bbbbbb;

@function pxTorem($px) {
    @return $px / $browser-default-font-size * 1rem;
}

@mixin common-style {
    html, body {
        height: 100%;
    }
    html {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    *, *:before, *:after {
        font-family: "Microsoft YaHei";
        -webkit-font-smoothing: antialiased;
        box-sizing: inherit;
        /* 使Chrome使用小于12px的字体 */
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    /*去除元素周围的虚线*/
    *:focus {
        outline: none;
    }
    div, span, a, input, button, img {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    button, input, select {
        outline: none;
    }
    input, select {
        -webkit-appearance: none;
        appearance: none;
    }
    li {
        list-style: none;
    }
    a, a:focus, a:link, a:hover {
        text-decoration: none;
        cursor: pointer;
    }
    ::-ms-clear, ::-ms-reveal {
        display: none;
    }

    /* 表单元素 */
    /* Remove inner shadow from inputs on mobile iOS */
    textarea,
    input[type="text"],
    input[type="submit"],
    input[type="password"],
    input[type="button"] {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    /* 媒体元素 */
    /**
	 * Prevent modern browsers from displaying `audio` without controls.
	 * Remove excess height in iOS 5 devices.
	 */
    audio:not([controls]) {
        display: none;
        height: 0;
    }
    //文字适配
    [data-dpr="1"] .mod-help-title .text {
        font-size: 14px
    }
    [data-dpr="2"] .mod-help-title .text {
        font-size: 28px
    }
    [data-dpr="3"] .mod-help-title .text {
        font-size: 42px;
    }
    [data-dpr="1"] .mod-help-list a {
        font-size: 16px
    }
    [data-dpr="2"] .mod-help-list a {
        font-size: 32px
    }
    [data-dpr="3"] .mod-help-list a {
        font-size: 48px;
    }
    [data-dpr="1"] .empty-container {
        font-size: 16px
    }
    [data-dpr="2"] .empty-container {
        font-size: 32px
    }
    [data-dpr="3"] .empty-container {
        font-size: 48px;
    }
}

@mixin center-block {
    margin-left: auto;
    margin-right: auto;
}

//参数冒号后面的值为默认值
@mixin Height($height:30px) {
    height: pxTorem($height);
    line-height: pxTorem($height);
}

