<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单测试</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.js"></script>
	<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
</head>
<body>
	<div id="app">
		<p>
			<label>url:</label>
			<input placeholder="请输入url地址" v-model="action"/>
		</p>
		<p>
			<input placeholder="请输入字段的key" v-model="newName" v-on:keyup.enter="addNewInput"/>
			<!-- <input type="checkbox" id="fileCheck" v-model="isFile"/> -->
			<!-- <label for="fileCheck">file字段</label> -->
		</p>
		<form :action="action" method="post" :enctype="getEnctype">
			<p v-for="(input, index) in inputs" >
				<label>{{input.name}}</label>
				<!-- <input :name="input.name" :type="input.isFile ? 'file' : 'text' " v-model="input.value"/> -->
				<input :name="input.name" v-model="input.value"/>
				<button @click.prevent="remove(index)">X</button>
			</p>
			<button @click.prevent="submit">submit</button>
			<button @click.prevent="reset">reset</button>
		</form>
	</div>
	<script type="text/javascript">
		new Vue({
		  el: '#app',
		  data: {
		    action: '',
		    newName: '',
		    isFile: false,
		    // inputs: [{name:"command",value:""}],
		    inputs:[]
		  },
		  methods: {
		    addNewInput: function () {
		      this.inputs.push({name:this.newName, value:'',isFile:this.isFile})
		      this.newName = ''
		      this.isFile=false;
		    },
		    remove:function(index){
		    	this.inputs.splice(index,1);
		    },
		    reset:function(){
		    	this.newName = "";
		    	this.action = "";
		    	this.inputs.splice(0,this.inputs.length);
		    	// this.inputs = [{name:"command"}];
		    },
		    submit:function(){
		    	var data={};
		    	this.inputs.map(function(item) {
		    		console.log(item);
		    		data[item.name]=item.value;
		    	})
				axios({
				  method: 'post',
				  url: this.action,
				  data: data
				});
		    }
		  },
		  computed:{
		  	getEnctype:function(){
		    	for(i=0; i<this.inputs.length; i++){
		    		if(this.inputs[i].isFile === true) return "multipart/form-data"
		    	}
		    	return "";
		    }
		  }
		})
	</script>
</body>
</html>